<!DOCTYPE html>
<html lang="en"  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>

<div>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Dashboard">
    </form>
    <form th:action="@{/admin/users}" method="get">
        <input type="submit" value="Members">
    </form>
    <form th:action="@{/admin/leasables}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{/admin/leases}" method="get">
        <input type="submit" value="Leases">
    </form>
    <form th:action="@{/admin/posts}" method="get">
        <input type="submit" value="Posts">
    </form>
    <form th:action="@{/admin/message-threads}" method="get">
        <input type="submit" value="Message Threads">
    </form>
    <form th:action="@{/admin/images}" method="get">
        <input type="submit" value="Images">
    </form>
    <form th:action="@{/admin/payments}" method="get">
        <input type="submit" value="Payments">
    </form>
    <form th:action="@{/members}" method="get">
        <input type="submit" value="Member Panel">
    </form>

<form th:action="@{/members}" method="get">
    <input type="submit" value="Member Panel">
</form>
    <div th:if="${!#lists.isEmpty(allLeases)}">
        <form id="myForm" method="post" th:action="@{/admin/leases/}">
            <table>
                <thead>
                <th>
                <td>Lease ID</td>
                <td>Lease Member</td>
                <td>Lease Leasable</td>
                <td>Lease Start</td>
                <td>Lease End</td>
                <td>Lease Status</td>
                <td>Apply Updates</td>
                </th>
                </thead>
                <tbody>
                <tr th:each="lease :${allLeases}" th:class="${lease.leaseId}">
                    <td th:text="${lease.leaseId}"></td>
                    <td th:text="${lease.member.firstName} + ' ' + ${lease.member.lastName}"></td>
                    <td th:text="${lease.leasable.leasableCode}"></td>
                    <td th:text="${lease.startDate}"></td>
                    <td th:text="${lease.endDate}"></td>
                    <td th:text="${lease.leaseStatus.leaseStatus}"></td>
                    <td><input type="radio" th:attr="data-lease-identification=${lease.leaseId}" name="leaseId" class="updateLease"></td>
                </tr>
                </tbody>
            </table>
            <input type="submit" id="updateStatus" formaction="/admin/lease-status/update" value="Update Statuses"/>
            <input type="submit" id="updateType" formaction="/admin/lease-roles/update" value="Update Types"/>
            <input type="submit" class="createLease" formaction="/admin/leases/create" value="Create New Lease"/>
            <input type="submit" id="deleteLease" formaction="/admin/leases/" value="Delete Lease"/>
            <input type="submit" value="Update Lease"/>
        </form>
    </div>

    <div th:if="${#lists.isEmpty(allLeases)}">
        <form action="/admin/leases" method="post">
            <p>No results</p>
            <input type="submit" class="createLease" formaction="/admin/leases/create" value="Create New Lease"/>
        </form>
    </div>
</div>


<script>
    $(".updateLease").change(function() {
        var lease = document.querySelector(".updateLease:checked").dataset.leaseIdentification;
        var formElement = document.querySelector("#myForm");
        var deleteButton = document.querySelector("#deleteLease");
        formElement.setAttribute("action", "/admin/leases/update/" + lease);
        deleteButton.setAttribute("formaction", "/admin/leases/delete/" + lease);
    });
</script>
<div th:replace="fragments/general :: main-navigation-script"></div>
</body>
</html>