<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>



<h1>Lease To Create</h1>

<form th:action="@{/admin/leases/create-approved}" method="post" id="createLeaseForm" th:object="${leaseToCreate}">
<!--    <label for="leaseCode">Lease Code:</label>-->
<!--    <input type="text" id="leaseCode" th:field="*{leaseCode}"  required/>-->
<!--    <label for="leaseSize">Lease Size:</label>-->
<!--    <input type="text" id="leaseSize" th:field="*{leaseSize}" required/>-->
<!--    <label for="leaseYearlyRent">Yearly Rent:</label>-->
<!--    <input type="text" id="leaseYearlyRent" th:field="*{leaseYearlyRent}"  required/>-->
    <table>
        <thead>
        <th>
        <td>Available Leasables</td>
        </th>
        </thead>
        <tbody>
        <tr th:each="leasable:${availableLeasables}">
            <td>
                <input class="leasables" th:field="*{leasable}" th:value="${leasable.leasableId}" type="radio" th:id="${leasable.leasableId}" name="leaseleasable" th:attr="data-leasable-code=${leasable.leasableCode}"/>
                <label th:for="${leasable.leasableId}" th:text="${leasable.leasableCode}">Label</label>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <th>
        <td>Lease Member</td>
        </th>
        </thead>
        <tbody>
        <tr th:each="member:${allMembers}">
            <td>
                <input class="leaseMember" th:field="*{member}" th:value="${member.memberId}" type="radio" th:id="${member.memberId}" name="leaseMember" />
                <label th:for="${member.memberId}" th:text="${member.firstName} + ' ' + ${member.lastName}">Label</label>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <th>
        <td>Lease Status</td>
        </th>
        </thead>
        <tbody>
        <tr th:each="leaseStatus:${leaseStatuses}">
            <td>
                <input class="leaseStatus" th:field="*{leaseStatus}" th:value="${leaseStatus.leaseStatusId}" type="radio" th:id="${leaseStatus.leaseStatus}" name="status" />
                <label th:for="${leaseStatus.leaseStatus}" th:text="${leaseStatus.leaseStatus}">Label</label>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Create Lease"/>
    <input type="reset" value="Reset Details"/>
</form>

<script>
    var myForm = document.querySelector("#createLeaseForm");
    // var createButton = document.querySelector()
    var formData = new FormData();
    var leasable;
    var member;

    myForm.addEventListener("submit", function(event) {
        leasable = document.querySelector(".leasables:checked").dataset.leasableCode;
        member = document.querySelector(".leaseMember:checked");
        if(leasable != null && member != null) {
            console.log("passed selection validation")
            // myForm.setAttribute("action", "/admin/leases/create-approved");
            formData.append("leasable", leasable);
            fetch('/api/leases/check-leasable', {method: 'POST', body: formData})
                .then(response => response.json())
                .then(data => {
                    for (let field in data) {
                        if (field.toString() === "leaseId") {
                            if (data[field] == 0) {
                                console.log("code approved");
                                return true;
                            } else {
                                console.log("code rejected");
                                event.preventDefault();
                                return false;
                            }
                        }
                    }
                    console.log("error");
                    return false;
                });
        } else{
            event.preventDefault();
        }
    });

</script>
<div th:replace="fragments/general :: main-navigation-script"></div>
</body>
</html>