<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Dashboard">
    </form>
    <form th:action="@{/admin/users}" method="get">
        <input type="submit" value="Members">
    </form>
    <form th:action="@{/admin/leasables}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{/admin/leases}" method="get">
        <input type="submit" value="Leases">
    </form>
    <form th:action="@{/admin/posts}" method="get">
        <input type="submit" value="Posts">
    </form>
    <form th:action="@{/admin/message-threads}" method="get">
        <input type="submit" value="Message Threads">
    </form>
    <form th:action="@{/admin/images}" method="get">
        <input type="submit" value="Images">
    </form>
    <form th:action="@{/admin/payments}" method="get">
        <input type="submit" value="Payments">
    </form>
    <form th:action="@{/members}" method="get">
        <input type="submit" value="Member Panel">
    </form>

<!--    <div th:if="${!#lists.isEmpty(allMembers)}">-->
<!--        <table th:each="member :${allMembers}">-->
<!--            <tr>-->
<!--                <td th:text="${member.memberId}"></td>-->
<!--                <td th:text="${member.firstName}"></td>-->
<!--                <td th:text="${member.lastName}"></td>-->
<!--                <td th:text="${member.email}"></td>-->
<!--                <td th:text="${member.userRoles}"></td>-->
<!--                <td th:text="${member.memberStatus}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->

<!--    <div th:unless="${#lists.isEmpty(allLeasables)}">-->
<!--        <table th:each="leasables :${allLeasables}">-->
<!--            <tr>-->
<!--                <td th:text="${leasables.leasableId}"></td>-->
<!--                <td th:text="${leasables.leasableCode}"></td>-->
<!--                <td th:text="${leasables.leasableYearlyRent}"></td>-->
<!--                <td th:text="${leasables.leasableStatus}"></td>-->
<!--                <td th:text="${leasables.leasableType}"></td>-->
<!--                <td th:text="${leasables.leasableCreationDate}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div th:unless="${#lists.isEmpty(allLeases)}">-->
<!--        <table th:each="lease :${allLeases}">-->
<!--            <tr>-->
<!--                <td th:text="${lease.leaseId}"></td>-->
<!--                <td th:text="${lease.member.memberId}"></td>-->
<!--                <td th:text="${lease.startDate}"></td>-->
<!--                <td th:text="${lease.endDate}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div th:unless="${#lists.isEmpty(allPosts)}">-->
<!--        <table th:each="post :${allPosts}">-->
<!--            <tr>-->
<!--                <td th:text="${post.postId}"></td>-->
<!--                <td th:text="${post.postTitle}"></td>-->
<!--                <td th:text="${post.postDate}"></td>-->
<!--                <td th:text="${post.creationDate}"></td>-->
<!--                <td th:text="${post.postStatus.postStatus}"></td>-->
<!--                <td th:text="${post.member}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div th:unless="${#lists.isEmpty(allMessageThreads)}">-->
<!--        <table th:each="messageThread :${allMessageThreads}">-->
<!--            <tr>-->
<!--                <td th:text="${messageThread.messageThreadId}"></td>-->
<!--                <td th:text="${messageThread.messageThreadName}"></td>-->
<!--                <td th:text="${messageThread.messageThreadCreation}"></td>-->
<!--                <td th:text="${messageThread.messageThreadStatus.messageThreadStatus}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div th:unless="${#lists.isEmpty(allImages)}">-->
<!--        <table th:each="image :${allImages}">-->
<!--            <tr>-->
<!--                <td th:text="${image.imageId}"></td>-->
<!--                <td th:text="${image.imageUploadName}"></td>-->
<!--                <td th:text="${image.uploadDate}"></td>-->
<!--                <td th:text="${image.imageType}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--    <div th:unless="${#lists.isEmpty(allPayments)}">-->
<!--        <table th:each="payments :${allPayments}">-->
<!--            <tr>-->
<!--                <td th:text="${payments.paymentId}"></td>-->
<!--                <td th:text="${payments.member}"></td>-->
<!--                <td th:text="${payments.paymentAmount}"></td>-->
<!--                <td th:text="${payments.paymentType.paymentType}"></td>-->
<!--                <td th:text="${payments.paidOn}"></td>-->
<!--            </tr>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->

<!--<div th:unless="${#lists.isEmpty(allMembers)}">-->
<!--    <form th:action="@{/admin/all-users}" method="post" >-->
<!--        <label for="users">Select User:</label>-->
<!--        <select name="users" id="users" >-->
<!--            <option th:each="member :${allMembers}" th:value="${member}" th:text="${member.memberId} + ' ' + ${member.firstName} + ' ' + ${member.lastName}">Member</option>-->
<!--        </select>-->
<!--        <input type="submit" value="Select User">-->
<!--    </form>-->
<!--</div>-->
<!--<div th:unless="${selectedUser==null}">-->
<!--    <p th:text="'You selected'+ ${selectedUser.firstName}"/>-->
<!--</div>-->
</div>
</body>
</html>