<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/admin-data-layout.html}">

<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <div th:replace="fragments/admin-dashboard :: admin-dashboard-styles"></div>
    <div th:replace="fragments/admin-panel-nav :: admin-nav-style"></div>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>
<div class="avoidHeaderNav">
    <div th:replace="fragments/admin-panel-nav :: admin-panel-nav(currentModelId='dashboard', currentModelName='DASHBOARD')"></div>
    <div class="flex flex-vertical align-items-center">
        <div layout:fragment="model-data">
            <div th:replace="fragments/admin-dashboard :: admin-dashboard"></div>
        </div>
    </div>
    <div th:replace="fragments/general :: main-footer"></div>
</div>


<div th:replace="fragments/general :: main-navigation-script"></div>
<div th:replace="fragments/admin-dashboard :: admin-dashboard-script"></div>
</body>
</html>