<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Dashboard">
    </form>
    <form th:action="@{/admin/users}" method="get">
        <input type="submit" value="Members">
    </form>
    <form th:action="@{/admin/leasables}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{/admin/leases}" method="get">
        <input type="submit" value="Leases">
    </form>
    <form th:action="@{/admin/posts}" method="get">
        <input type="submit" value="Posts">
    </form>
    <form th:action="@{/admin/message-threads}" method="get">
        <input type="submit" value="Message Threads">
    </form>
    <form th:action="@{/admin/images}" method="get">
        <input type="submit" value="Images">
    </form>
    <form th:action="@{/admin/payments}" method="get">
        <input type="submit" value="Payments">
    </form>
    <div th:unless="${#lists.isEmpty(allLeases)}">
        <table th:each="lease :${allLeases}">
            <tr>
                <td th:text="${lease.leaseId}"></td>
                <td th:text="${lease.member.memberId}"></td>
                <td th:text="${lease.startDate}"></td>
                <td th:text="${lease.endDate}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(allLeases)}">
        <p>No results</p>
    </div>
</div>

<!--<div th:unless="${#lists.isEmpty(allMembers)}">-->
<!--    <form th:action="@{/admin/all-users}" method="post" >-->
<!--        <label for="users">Select User:</label>-->
<!--        <select name="users" id="users" >-->
<!--            <option th:each="member :${allMembers}" th:value="${member}" th:text="${member.memberId} + ' ' + ${member.firstName} + ' ' + ${member.lastName}">Member</option>-->
<!--        </select>-->
<!--        <input type="submit" value="Select User">-->
<!--    </form>-->
<!--</div>-->
<!--<div th:unless="${selectedUser==null}">-->
<!--    <p th:text="'You selected'+ ${selectedUser.firstName}"/>-->
<!--</div>-->
</body>
</html>