<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Dashboard">
    </form>
    <form th:action="@{/admin/users}" method="get">
        <input type="submit" value="Members">
    </form>
    <form th:action="@{/admin/leasables}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{/admin/leases}" method="get">
        <input type="submit" value="Leases">
    </form>
    <form th:action="@{/admin/posts}" method="get">
        <input type="submit" value="Posts">
    </form>
    <form th:action="@{/admin/message-threads}" method="get">
        <input type="submit" value="Message Threads">
    </form>
    <form th:action="@{/admin/images}" method="get">
        <input type="submit" value="Images">
    </form>
    <form th:action="@{/admin/payments}" method="get">
        <input type="submit" value="Payments">
    </form>

    <div th:if="${!#lists.isEmpty(allMembers)}">
        <form id="myForm" method="post" th:action="@{/admin/users/}">
            <table>
                <thead>
                <th>
                <td>Member ID</td>
                <td>First Name</td>
                <td>Last Name</td>
                <td>Email</td>
                <td>User Role</td>
                <td>Member Status</td>
                <td>Apply Updates</td>
                </th>
                </thead>
                <tbody>
                <tr th:each="member, stat :${allMembers}" th:class="${member.firstName} + ' ' + ${member.lastName}">
                    <td th:text="${member.memberId}"></td>
                    <td th:text="${member.firstName}"></td>
                    <td th:text="${member.lastName}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:text="${member.convertUserRolesListToString()}"></td>
                    <td th:text="${member.memberStatus}"></td>
                    <td><input type="radio" th:attr="data-member-identification=${member.memberId}" name="memberId" class="updateMember"></td>
                </tr>
                </tbody>
            </table>
            <input type=""/>
            <input type="submit" id="updateRoles" formaction="" value="Update Roles"/>
            <input type="submit" id="createUser" formaction="/admin/users/create" value="Create New Member"/>
            <input type="submit" id="deleteUser" formaction="/admin/users/" value="Delete Member"/>
            <input type="submit" value="Update Member"/>
        </form>

<!--            <span>Filter Members</span>-->
<!--            <form>-->
<!--                <input type="submit" value="Update"/>-->
<!--            </form>-->
<!--        </div>-->
    </div>
    <div th:if="${#lists.isEmpty(allMembers)}">
        <p>No results</p>
    </div>
</div>

<!--<div th:unless="${#lists.isEmpty(allMembers)}">-->
<!--    <form th:action="@{/admin/all-users}" method="post" >-->
<!--        <label for="users">Select User:</label>-->
<!--        <select name="users" id="users" >-->
<!--            <option th:each="member :${allMembers}" th:value="${member}" th:text="${member.memberId} + ' ' + ${member.firstName} + ' ' + ${member.lastName}">Member</option>-->
<!--        </select>-->
<!--        <input type="submit" value="Select User">-->
<!--    </form>-->
<!--</div>-->
<!--<div th:unless="${selectedUser==null}">-->
<!--    <p th:text="'You selected'+ ${selectedUser.firstName}"/>-->
<!--</div>-->
<script>
    $(".updateMember").change(function() {
        // console.log($(".updateMember:checked"));
      var member = document.querySelector(".updateMember:checked").dataset.memberIdentification;
      console.log(member);
      var formElement = document.querySelector("#myForm");
      var deleteButton = document.querySelector("#deleteUser");
      var createButton = document.querySelector("#createUser");
      formElement.setAttribute("action", "/admin/users/" + member);
      deleteButton.setAttribute("formaction", "/admin/users/delete/" + member);
      // createButton.setAttribute("formaction", "/admin/users/create");
      // console.log(createButton.getAttribute("formaction"));
      console.log(deleteButton.getAttribute("formaction"));
      console.log(formElement.getAttribute("action"));
      console.log("function executed");
    });

    // $("#deleteUser").hover(function() {
    //     var formElement = document.querySelector("#myForm");
    //     formElement.setAttribute("method", "delete");
    //     console.log(formElement.getAttribute("method"));
    // });
    //
    //
    // $("#deleteUser").click(function() {
    //     var formElement = document.querySelector("#myForm");
    //     formElement.setAttribute("method", "delete");
    // });
</script>
</body>
</html>