<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>
<div>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Dashboard">
    </form>
    <form th:action="@{/admin/users}" method="get">
        <input type="submit" value="Members">
    </form>
    <form th:action="@{/admin/leasables}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{/admin/leases}" method="get">
        <input type="submit" value="Leases">
    </form>
    <form th:action="@{/admin/posts}" method="get">
        <input type="submit" value="Posts">
    </form>
    <form th:action="@{/admin/message-threads}" method="get">
        <input type="submit" value="Message Threads">
    </form>
    <form th:action="@{/admin/images}" method="get">
        <input type="submit" value="Images">
    </form>
    <form th:action="@{/admin/payments}" method="get">
        <input type="submit" value="Payments">
    </form>

    <div th:unless="${#lists.isEmpty(allPayments)}">
        <table th:each="payments :${allPayments}">
            <tr>
                <td th:text="${payments.paymentId}"></td>
                <td th:text="${payments.member}"></td>
                <td th:text="${payments.paymentAmount}"></td>
                <td th:text="${payments.paymentType.paymentType}"></td>
                <td th:text="${payments.paidOn}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${#lists.isEmpty(allPayments)}">
        <p>No results</p>
    </div>
</div>

<!--<div th:unless="${#lists.isEmpty(allMembers)}">-->
<!--    <form th:action="@{/admin/all-users}" method="post" >-->
<!--        <label for="users">Select User:</label>-->
<!--        <select name="users" id="users" >-->
<!--            <option th:each="member :${allMembers}" th:value="${member}" th:text="${member.memberId} + ' ' + ${member.firstName} + ' ' + ${member.lastName}">Member</option>-->
<!--        </select>-->
<!--        <input type="submit" value="Select User">-->
<!--    </form>-->
<!--</div>-->
<!--<div th:unless="${selectedUser==null}">-->
<!--    <p th:text="'You selected'+ ${selectedUser.firstName}"/>-->
<!--</div>-->

<div th:replace="fragments/general :: main-navigation-script"></div>
</body>
</html>