<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
  <link rel="stylesheet" href="/styles/rent-leasables.css">
  <title>Rent Plots</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>
<div class="avoidHeaderNav flex justify-content-center align-items-center" id="main-content">
    <div id="rent-leasables-canvas-container beauty-padding">
        <canvas id="leasables-configuration" width="500" height="500" style="border:1px solid #000000;"></canvas>
    </div>
    <div class="flex-vertical beauty-padding" id="instructions-and-renting-container">
      <div id="instructions-for-renting">
        <h1>HOW TO RENT</h1>
        <p>Green plots are available to rent, while orange plots are already leased.</p>
        <p>You can simply click on a plot to get its specific information. Including it's size,
          yearly rent, the type of plot it is, and an image of it!</p>
        <p>Once you've found a plot you like, you can go ahead and rent it!</p>
        <p>Note: If there are no available plots, please subscribe to get an
          email once we upload more or check back into the General Announcements thread regularly!</p>
      </div>
      <div class="flex column " id="selected-object-info-container">
          <div id="selectedObjectCodeHeader">
            <span>Selected: </span>
          </div>
          <div id="selectedObjectStatusHeader">
            <span>Status: </span>
          </div>
          <div id="selectedObjectTypeHeader">
            <span>Type: </span>
          </div>
          <div id="selectedObjectRentHeader">
            <span>Rent For A Year: </span>
          </div>
          <div id="selectedObjectSizeHeader">
            <span>Size: </span>
          </div>
          <form action="/members/leasables/rent" method="post" id="submitRentOrderForm">
            <input hidden type="text" value="" name="id" id="hiddenIdFieldToSubmit">
            <input type="submit" id="rentSelectedPlot" value="RENT" disabled/>
          </form>
      </div>
    </div>
</div>
<script>
  // let configObject = document.querySelector("#leasables-configuration").getAttribute("th:object");
  // console.log(configObject);
  // let canvas = new fabric.Canvas("leasables-configuration");
  // canvas.loadFromJSON()

  // $(function(){
  //   fetch("/api/configurations/load",{method: 'GET'})
  //           .then(response => response.json())
  //           .then(data => console.log(data));
  // });

</script>
<script th:src="@{/js/fabric.min.js}"></script>
<script th:src="@{/js/member/leasables.js}"></script>
<div th:replace="fragments/general :: main-navigation-script"></div>
</body>
</html>