<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{}" method="get">
        <input type="submit" value="Message Board">
    </form>
    <form th:action="@{}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{}" method="get">
        <input type="submit" value="Your Leases">
    </form>
    <form th:action="@{}" method="get">
        <input type="submit" value="Your Payments">
    </form>
    <form th:action="@{}" method="get">
        <input type="submit" value="Your Message History">
    </form>
    <form th:action="@{}" method="get">
        <input type="submit" value="Your Account Info">
    </form>
</div>
</body>
</html>