<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <link  rel="stylesheet" th:href="@{/styles/account-info.css}">
    <title>Account Info</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>

<div class="avoidHeaderNav flex flex-vertical" id="main-content">
        <div id="header-and-profile-pic" class="flex justify-content-space-between">
            <div class="grow" id="account-header-container">
                <h1 th:text="${currentUser.getFullName().toUpperCase()} + '\'S ACCOUNT INFO'"></h1>
            </div>
            <div id="profile-pic-area">
                <div class="pos-relative" id="profile-pic-container">
                    <form method="post" action="/members/member/update-profile-pic" id="profile-pic-form" enctype="multipart/form-data">
                        <label class="pos-absolute flex justify-content-center align-items-center" id="trigger-for-upload" for="imagePath">Upload New</label>
                        <img id="profile-pic" th:alt="${currentUser.getFullName()} + ' profile picture'"  th:src="${currentUser.getProfilePic().getUploadPath()}" >
                        <input class="hidden" type="file" id="imagePath" accept="image/png, image/jpeg" required name="profilePic"/>
                    </form>
                </div>
            </div>
        </div>
        <div class="flex justify-content-space-between">
            <span>GENERAL</span>
            <svg class="pad-svg expand-collapse-info" id="expand-collapse-general-info" width="22" height="11">
                <path d="M 0 0 L 9 10 M 9 10 L 18 0" stroke-width="1" stroke="black"></path>
            </svg>
        </div>
    <form id="general-info-form" method="post" action="/members/member/update-info">
        <div class="hide-info-container">
            <div class="flex flex-wrap-wrap justify-content-space-between" id="general-info-container">
                <div>FIRST NAME:<p th:text="${currentUser.getFirstName().toUpperCase()}"></p>
                    <input type="text" id="first-name-input" class="member-info-update hidden"  th:value="${currentUser.firstName}"/>
                </div>
                <div>LAST NAME:<p th:text="${currentUser.getLastName().toUpperCase()}"></p>
                    <input type="text" id="last-name-input" class="member-info-update hidden"  th:value="${currentUser.lastName}"/>
                </div>
                <div>PHONE NUMBER:<p th:text="${currentUser.getPhoneNumber()}"></p>
                    <input type="text" id="phone-number-input" class="member-info-update hidden"  th:value="${currentUser.phoneNumber}"/>
                </div>
                <div>EMAIL:<p th:text="${currentUser.getEmail().toUpperCase()}"></p>
                    <input type="text" id="email-input" class="member-info-update hidden"  th:value="${currentUser.email}"/>
                </div>
                <div>MEMBER SINCE:<p th:text="${currentUser.getJoinedDate()}"></p></div>
            </div>
            <div>
                <input class="member-info-update hidden" type="submit" id="submit-general-updates"/>
            </div>
        </div>
    </form>
    <form action="/members/member/update-password" method="post" id="password-info-form">
        <div class="flex justify-content-space-between">
            <span>PASSWORD</span>
            <svg class="pad-svg expand-collapse-info" id="expand-collapse-password-info" width="22" height="11">
                <path d="M 0 0 L 9 10 M 9 10 L 18 0" stroke-width="1" stroke="black"></path>
            </svg>
        </div>
        <div class="hide-info-container collapse" id="change-password-container">
            <div id="change-password" class="flex flex-vertical password">
                <label for="current-password">Current Password:</label>
                <input id="current-password" type="password"/>
                <label for="new-password">New Password:</label>
                <input id="new-password" type="password"/>
                <label for="confirm-new-password">Confirm New Password:</label>
                <input id="confirm-new-password" type="password"/>
            </div>
            <div id="submit-password-change-container" class="password">
                <input type="submit" id="submit-password-change"/>
            </div>
        </div>
    </form>
    <form action="/members/member/terminate-lease" method="post" id="lease-info-form">
        <div class="flex justify-content-space-between">
            <span>LEASES</span>
            <svg class="pad-svg expand-collapse-info" id="expand-collapse-lease-info" width="22" height="11">
                <path d="M 0 0 L 9 10 M 9 10 L 18 0" stroke-width="1" stroke="black"></path>
            </svg>
        </div>
        <div class="hide-info-container collapse" id="lease-history-container">
            <div id="lease-history">
                <table id="lease-history-table">
                </table>
            </div>
            <div>
                <input type="submit" id="submit-lease-termination"/>
            </div>
        </div>
    </form>
</div>
<div class="pos-absolute flex justify-content-center align-items-center" id="modal-container">
    <div id="modal-content">
        <div>
            <span>Please confirm changes...</span>
        </div>
        <div class="flex justify-content-center">
            <button id="confirm-updates">Confirm</button>
            <button id="cancel-updates">Cancel</button>
        </div>
    </div>
</div>
<div th:replace="fragments/general :: main-navigation-script"></div>
<script th:src="@{/js/member/account-info.js}"></script>
</body>
</html>