<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/member/message-board}" method="get">
        <input type="submit" value="Message Board">
    </form>
    <form th:action="@{/member/leasables}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{/member/your-leases}" method="get">
        <input type="submit" value="Your Leases">
    </form>
    <form th:action="@{/member/your-payments}" method="get">
        <input type="submit" value="Your Payments">
    </form>
    <form th:action="@{/member/message-history}" method="get">
        <input type="submit" value="Your Message History">
    </form>
    <form th:action="@{/member/member}" method="get">
        <input type="submit" value="Your Account Info">
    </form>
</div>
</body>
</html>