<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <div th:replace="fragments/general :: base-style"></div>
 <div th:replace="fragments/general :: base-script"></div>
 <div th:replace="fragments/general :: main-navigation-style"></div>
    <link th:fragment="member-messaging-styles" rel="stylesheet" th:href="@{/styles/member-message-threads.css}">
  <title>Message Board</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation (currentUser=${currentUser})"></div>
<div class="avoidHeaderNav">
    <div hidden th:id="current-user-id" th:text="${currentUser.memberId}"></div>
    <div class="message-thread-container flex flex-vertical align-items-center">
        <div th:each="messageThread :${messageThreads}" class="available-message-thread" th:id="${messageThread.messageThreadId}">
                <h2 th:text="${messageThread.messageThreadName}"></h2>
            <div class="unentered-view" th:id="'unentered-view-'+${messageThread.messageThreadId}">
                <button th:id="${messageThread.messageThreadId}+'-message-thread'" class="enter-message-thread-button">Enter</button>
            </div>
            <div class="entered-view hidden" th:id="'entered-view-'+${messageThread.messageThreadId}">
                <div class="connecting">Conecting to chat...</div>
                <div class="message-area-container">
                    <ul th:id="'message-area-'+${messageThread.messageThreadId}"></ul>
                </div>
              <div class="message-input-container">
                  <form th:id="'message-form-'+${messageThread.messageThreadId}">
                      <input th:id="'message-input-'+${messageThread.messageThreadId}" type="text" class="message-input" />
                      <input type="submit" />
                  </form>
              </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: main-navigation-script"></div>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script th:fragment="member-messaging-script" th:src="@{/js/member/member-messaging.js}"></script>
</body>
</html>