<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

</head>
<body>
<div>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Dashboard">
    </form>
    <form th:action="@{/admin/users}" method="get">
        <input type="submit" value="Members">
    </form>
    <form th:action="@{/admin/leasables}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{/admin/leases}" method="get">
        <input type="submit" value="Leases">
    </form>
    <form th:action="@{/admin/posts}" method="get">
        <input type="submit" value="Posts">
    </form>
    <form th:action="@{/admin/message-threads}" method="get">
        <input type="submit" value="Message Threads">
    </form>
    <form th:action="@{/admin/images}" method="get">
        <input type="submit" value="Images">
    </form>
    <form th:action="@{/admin/payments}" method="get">
        <input type="submit" value="Payments">
    </form>

    <div th:unless="${#lists.isEmpty(allMessageThreads)}">
        <form id="myForm" method="post" th:action="@{/admin/message-threads}">
        <table th:each="messageThread :${allMessageThreads}">
            <tr>
                <td th:text="${messageThread.messageThreadId}"></td>
                <td th:text="${messageThread.messageThreadName}"></td>
                <td th:text="${messageThread.messageThreadCreation}"></td>
                <td th:text="${messageThread.messageThreadStatus.messageThreadStatus}"></td>
                <td><input type="radio" th:attr="data-message-thread-identification=${messageThread.messageThreadId}" name="messageThreadId" class="updateMessageThread"></td>
            </tr>
        </table>
        <input type="submit" id="updateStatus" formaction="/admin/message-threads-status/update" value="Update Statuses"/>
        <input type="submit" id="createMessageThread" formaction="/admin/message-threads/create" value="Create New Message Thread"/>
        <input type="submit" id="deleteMessageThread" formaction="/admin/message-threads/" value="Delete Message Thread"/>
        <input type="submit" value="Update Message Thread"/>
        </form>
    </div>
    <div th:if="${#lists.isEmpty(allMessageThreads)}">
        <form method="post">
            <p>No results</p>
            <input type="submit" class="createMessageThread" formaction="/admin/message-threads/create" value="Create New Message Thread"/>
        </form>
    </div>

</div>
<script>
    $(".updateMessageThread").change(function() {
        let messageThread = document.querySelector(".updateMessageThread:checked").dataset.messageThreadIdentification;
        console.log(messageThread);
        let formElement = document.querySelector("#myForm");
        let deleteButton = document.querySelector("#deleteMessageThread");
        formElement.setAttribute("action", "/admin/message-threads/update/" + messageThread);
        deleteButton.setAttribute("formaction", "/admin/message-threads/delete/" + messageThread);
    });
</script>

</body>
</html>