<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/leasables.css}"/>
    <link rel="stylesheet" th:href="@{/styles/adminLeasable.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Signika Negative', sans-serif;
        }
    </style>
    <title>Title</title>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>



<div>
    <div class="flex justify-content-center">
        <form th:action="@{/admin}" method="get">
            <input type="submit" value="Dashboard">
        </form>
        <form th:action="@{/admin/users}" method="get">
            <input type="submit" value="Members">
        </form>
        <form th:action="@{/admin/leasables}" method="get">
            <input type="submit" value="Leasables">
        </form>
        <form th:action="@{/admin/leases}" method="get">
            <input type="submit" value="Leases">
        </form>
        <form th:action="@{/admin/posts}" method="get">
            <input type="submit" value="Posts">
        </form>
        <form th:action="@{/admin/message-threads}" method="get">
            <input type="submit" value="Message Threads">
        </form>
        <form th:action="@{/admin/images}" method="get">
            <input type="submit" value="Images">
        </form>
        <form th:action="@{/admin/payments}" method="get">
            <input type="submit" value="Payments">
        </form>
        <form th:action="@{/members}" method="get">
            <input type="submit" value="Member Panel">
        </form>
    </div>

    <div class="flex column align-items-center" th:if="${!#lists.isEmpty(allLeasables)}">
        <div id="search-and-button-holder" class="flex justify-content-space-between align-items-center">
            <input type="text" placeholder="Search Leasable Codes" id="leasables-search">
            <div>
                <input type="submit" id="createLeasable" formaction="/admin/leasables/create" value="Create New Leasable"/>
                <input type="submit" id="updateStatus" formaction="/admin/leasable-status/update" value="Update Statuses"/>
                <input type="submit" id="updateType" formaction="/admin/leasable-roles/update" value="Update Types"/>
            </div>
        </div>
        <div class="flex justify-content-center">
            <div class="flex justify-content-center" id="returned-leasables-data-container">
                <table id="returned-leasables-data">
                    <thead id="leasables-header">
                        <tr>
                            <th>Index</th>
                            <th>Leasable ID</th>
                            <th>Leasable Code</th>
                            <th>Leasable Type</th>
                            <th>Leasable Size</th>
                            <th>Leasable Rent</th>
                            <th>Leasable Status</th>
                            <th>Creation Date</th>
                        </tr>
                    </thead>
                    <tbody id="returned-leasables-data-body">
                            <tr th:each="leasable, stat :${allLeasables}" class="leasable-data-row" th:id="${stat.count}">
                                <td id="leasable-index-node" th:text="${stat.count}"></td>
                                <td id="leasable-id-node" th:text="${leasable.leasableId}"></td>
                                <td id="leasable-code-node" th:text="${leasable.leasableCode}"></td>
                                <td id="leasable-type-node" th:text="${leasable.leasableType.leasableTypeName}"></td>
                                <td id="leasable-size-node" th:text="${leasable.leasableSize}"></td>
                                <td id="leasable-rent-node" th:text="${leasable.leasableYearlyRent}"></td>
                                <td id="leasable-status-node" th:text="${leasable.leasableStatus.leasableStatus}"></td>
                                <td id="leasable-date-node" th:text="${leasable.leasableCreationDate}"></td>
<!--                                <td><input type="radio" th:attr="data-leasable-identification=${leasable.leasableId}" name="leasableId" class="updateLeasable"></td>-->
                            </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="modal-container">
            <div class="flex column stretch-align-items" id="modal-content">
                <div><button id="close">&times;</button></div>
                <div id="house-leasable-info" class="flex justify-content-center grow">
                    <div class="leasable-view-info" id="leasable-id"></div>
                    <div class="leasable-view-info" id="leasable-code"></div>
                    <div class="leasable-view-info" id="leasable-type"></div>
                    <div class="leasable-view-info" id="leasable-size"></div>
                    <div class="leasable-view-info" id="leasable-rent"></div>
                    <div class="leasable-view-info" id="leasable-status"></div>
                </div>
                <div  class="leasable-view-info flex justify-content-center grow column" id="leasable-history">
                    <table class="flex column align-items-center" id="leasable-history-table">
                        <thead id="leasable-history-header" class="flex justify-content-center">
                            <tr>
                                <th>Lease Id</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Status</th>
                                <th>Member</th>
                            </tr>
                        </thead>
                        <tbody id="leasable-history-data-body" class="flex justify-content-center">
                            <tr id="leasable-history-row" th:each="lease, stat:${leaseHistory}">
                                <td th:text="${lease.leaseId}"></td>
                                <td th:text="${lease.startDate}"></td>
                                <td th:text="${lease.endDate}"></td>
                                <td th:text="${lease.leaseStatus.leaseStatus}"></td>
                                <td th:text="${lease.member.getFullName()}"></td>
                                <td class="leasable-history-identifier" hidden th:text="${lease.leasable.leasableId}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="flex justify-content-center" id="update-delete-button-holder">
                    <button class="leasable-toggling" id="update-button" text="update">UPDATE</button>
                    <button class="leasable-toggling" id="delete-button" text="delete">DELETE</button>
                </div>
            </div>
        </div>

        <div class="flex justify-content-center">
            <div id="reduce-page-number-button-holder">
                <button class="change-page-button" id="first-page-button">First</button>
                <button class="change-page-button" id="previous-page-button">Previous</button>
            </div>
            <div id="pagination-button-holder">
            </div>
            <div id="increase-page-number-button-holder">
                <button class="change-page-button" id="next-page-button" >Next</button>
                <button class="change-page-button" id="last-page-button" >Last</button>
            </div>
            <div id="number-of-results">
                <select>
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                    <option>40</option>
                    <option>50</option>
                </select>
            </div>
        </div>
<!--        <div class="flex justify-content-center">-->
<!--            <form id="myForm" method="post" th:action="@{/admin/leasables/}">-->
<!--                <input type="submit" id="deleteLeasable" formaction="/admin/leasables/" value="Delete Leasable"/>-->
<!--                <input type="submit" value="Update Leasable"/>-->
<!--            </form>-->
<!--        </div>-->
        <div th:if="${#lists.isEmpty(allLeasables)}">
            <p>No results</p>
        </div>
    </div>


    <div class="flex center" id="configuration-builder-container">
        <div class="flex column beauty-padding grow" id="leftSideCanvasControls">
<!--            <form class="flex column beauty-padding grow" id="saveConfigurationForm" action="/admin/leasables/leasables" method="post" th:object="${newConfiguration}">-->
<!--                <label for="this-configuration-name">Name of Configuration:</label>-->
<!--                <input type='text' id="this-configuration-name" th:field="*{configurationName}"/>-->
<!--                <span>-->
<!--                        <input type="checkbox"/>-->
<!--                        <label>Publish</label>-->
<!--                    </span>-->
<!--                <input type="submit" id="submit-this-configuration" value="Save"/>-->
<!--            </form>-->
            <input hidden value="0" th:field="${newConfig.configurationId}" id="configuration-id"/>
            <label for="configuration-name">Name of Configuration:</label>
            <input type='text' id="configuration-name" th:field="*{newConfig.configurationName}"/>
            <span>
                    <input type="checkbox" id="publish-configuration" th:field="*{newConfig.published}"/>
                    <label>Publish</label>
            </span>
            <button id="save-configuration">Save</button>
            <select id="select-saved-configurations">
                <option id="default" value="default" selected>Saved Configurations</option>
                <option class="saved-configuration" th:each="configuration:${savedConfigurations}" th:text="${configuration.configurationName}" th:name="${configuration.configurationName}" th:value="${configuration.jsonification}" th:id="${configuration.getConfigurationId()}"></option>
            </select>
            <button id="load-saved-configuration">Load</button>
        </div>
        <div class="flex column beauty-padding grow">
            <div class="flex grow" id="aboveCanvasControls">
                <button id="toggleGrid">Grid Toggle</button>
                <select id="plotSelector">
                    <option class="plotOption" id="defaultSelectPlotOption" value="Default">Plots To Add</option>
                    <option th:each="leasable:${allLeasables}" class="plotOption" th:id="${leasable.leasableCode}" th:value="${leasable.leasableCode}" th:text="${leasable.leasableCode} "></option>
                </select>
                <button id="addPlotButton">Add Selected Plot</button>
                <button id="deletePlotButton">Delete Selected</button>
                <span class="hiddenAddPlotNotifications" id="noPlotSelectedOnAdd">Please select a plot to add</span>
                <span class="hiddenAddPlotNotifications" id="noPlotsToSelectOnAdd">No more plots to add, please create a new leasable</span>
            </div>
            <canvas id="myCanvas" style="border:1px solid #000000;">

            </canvas>
        </div>
        <div class="flex column beauty-padding grow" id="rightSideCanvasControls">
            <label for="grid-size">Grid Size:</label>
            <input type="number" id="grid-size" min="10" value="20" step="5"/>
            <label>Additional Elements</label>
            <select>
                <option class="extraOption" id="defaultExtraOption" value="Default">Add Element</option>
                <option class="extraOption" id="extraRectArea" value="1">Rect Area</option>
                <option class="extraOption" id="extraCircleArea" value="2">Circle Area</option>
                <option class="extraOption" id="extraTextbox" value="3">Textbox</option>
                <option class="extraOption" id="extraDottedLine" value="4">Dotted Line</option>

            </select>
            <button id="addExtraButton">Add Extra</button>

            <div class="flex column beauty-padding" id="selectedObjectInfoDiv">
                <div id="selectedObjectIdHeader">
                    <span>Selected</span>
                </div>
                <label for="adjustSelectedByBorder">Scale Shape Manually</label>
                <input id="adjustSelectedByBorder" type="checkbox"/>
                <label for="selectedObjectWidth">Width</label>
                <div class="flex">
                    <input type="button" value="-" id="sizeMinusStepWidth">
                        <input type="type" id="selectedObjectWidth" step="1" min="1" max="" name="quantity" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                    <input type="button" value="+"id="sizePlusStepWidth">
                </div>
                <label for="selectedObjectHeight">Height</label>
                <div class="flex">
                    <input type="button" value="-" id="sizeMinusStepHeight">
                        <input type="type" id="selectedObjectHeight" step="1" min="1" max="" name="quantity" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                    <input type="button" value="+"id="sizePlusStepHeight">
                </div>
            </div>
        </div>
    </div>

</div>
    <script>
        $(".updateLeasable").change(function() {
            var leasable = document.querySelector(".updateLeasable:checked").dataset.leasableIdentification;
            var formElement = document.querySelector("#myForm");
            var deleteButton = document.querySelector("#deleteLeasable");
            formElement.setAttribute("action", "/admin/leasables/update/" + leasable);
            deleteButton.setAttribute("formaction", "/admin/leasables/delete/" + leasable);
        });
    </script>
    <script th:src="@{/js/fabric.min.js}" async defer></script>
    <script th:src="@{/js/admin/leasables.js}" async defer></script>
    <script th:src="@{/js/admin/leasablesStyles.js}" async defer></script>
</body>
</html>