<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>

<h1>Leasable To Create</h1>

<form th:action="@{/admin/leasables/create-approved}" method="post" id="createLeasableForm" th:object="${leasableToCreate}">
    <label for="leasableCode">Leasable Code:</label>
    <input type="text" id="leasableCode" th:field="*{leasableCode}"  required/>
    <label for="leasableSize">Leasable Size:</label>
    <input type="text" id="leasableSize" th:field="*{leasableSize}" required/>
    <label for="leasableYearlyRent">Yearly Rent:</label>
    <input type="text" id="leasableYearlyRent" th:field="*{leasableYearlyRent}"  required/>
    <table>
        <thead>
        <th>
        <td>Leasable Type</td>
        </th>
        </thead>
        <tbody>
        <tr th:each="leasableType:${leasableTypes}">
            <td>
                <input th:field="*{leasableType}" th:value="${leasableType.leasableTypeId}" type="radio" th:id="${leasableType.leasableTypeName}" name="leasabletype" />
                <label th:for="${leasableType.leasableTypeName}" th:text="${leasableType.leasableTypeName}">Label</label>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <th>
        <td>Leasable Status</td>
        </th>
        </thead>
        <tbody>
        <tr th:each="leasableStatus:${leasableStatuses}">
            <td>
                <input th:field="*{leasableStatus}" th:value="${leasableStatus.leasableStatusId}" type="radio" th:id="${leasableStatus.leasableStatus}" name="status" />
                <label th:for="${leasableStatus.leasableStatus}" th:text="${leasableStatus.leasableStatus}">Label</label>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Create Leasable"/>
    <input type="reset" value="Reset Details"/>
</form>

<script>

    var myForm = document.querySelector("#createLeasableForm");
    var formData = new FormData();

    console.log(myForm);

    myForm.addEventListener("submit", function(event) {
        // event.preventDefault();
        var code = $("#leasableCode").val().toString().split(",").reverse()[0];
        formData.append("code", code);
        fetch('/api/leasables/check-code', {method: 'POST', body: formData})
            .then(response => response.json())
            .then(data => {
                for(let field in data){
                    if(field.toString() === "leasableId"){
                        if(data[field] == 0) {
                            console.log("code approved");
                            return true;
                        } else{
                            console.log("code rejected");
                            return false;
                        }
                    }
                }
                console.log("error");
                return false;
            });
    });

</script>
<div th:replace="fragments/general :: main-navigation-script"></div>
</body>
</html>