<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link th:fragment="base-style" rel="stylesheet" th:href="@{/styles/normalize.css}">
    <link th:fragment="base-style" rel="stylesheet" th:href="@{/styles/namedProperties.css}">
    <link th:fragment="admin-data-style" rel="stylesheet" th:href="@{/styles/admin-model-styles.css}">
    <link th:fragment="admin-nav-style" rel="stylesheet" th:href="@{/styles/admin-panel-nav.css}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="base-style" rel="preconnect" href="https://fonts.googleapis.com">
    <link th:fragment="base-style" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:fragment="base-style" href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <style th:fragment="base-style" >
        body {
            font-family: 'Signika Negative', sans-serif;
        }
    </style>
    <script th:fragment="base-script" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>

    <div th:fragment="search-and-button-holder-fragment(searchableAttribute, createModal, modelName, statusModal, typeModal, rolesModal, configurationModal)" id="search-and-button-holder" class="flex justify-content-space-between align-items-center">
        <input type="text" th:placeholder="'Search '+ ${searchableAttribute}" id="models-search">
        <div>
            <input type="submit"  class="model-various-modals" id="create-model-modal" th:value="'Create New '+ ${modelName}"/>
            <input th:if="${statusModal != 'false'}" type="submit" class="model-various-modals" id="update-status-modal" value="Update Statuses"/>
            <input th:if="${typeModal != 'false'}" type="submit" class="model-various-modals" id="update-type-modal" value="Update Types"/>
            <input th:if="${rolesModal != 'false'}" type="submit" class="model-various-modals" id="update-roles-modal" value="Update Roles"/>
            <input th:if="${configurationModal != 'false'}" type="submit" class="model-various-modals" id="view-config-modal" value="Configurations" />
        </div>
    </div>

<script th:fragment="admin-search-options" th:src="@{/js/admin/admin-search-options.js}"></script>
</body>
</html>