<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link th:fragment="base-style" rel="stylesheet" th:href="@{/styles/normalize.css}">
    <link th:fragment="base-style" rel="stylesheet" th:href="@{/styles/namedProperties.css}">
    <link th:fragment="admin-data-style" rel="stylesheet" th:href="@{/styles/admin-model-styles.css}">
    <link th:fragment="admin-nav-style" rel="stylesheet" th:href="@{/styles/admin-panel-nav.css}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:fragment="base-style" rel="preconnect" href="https://fonts.googleapis.com">
    <link th:fragment="base-style" rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link th:fragment="base-style" href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    <style th:fragment="base-style" >
        body {
            font-family: 'Signika Negative', sans-serif;
        }
    </style>
    <script th:fragment="base-script" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>


<div th:fragment="model-data-visuals
(headers, attributes, allModelInstances, modelName, searchableAttribute, createUrl, statusUrl, typeUrl, rolesUrl, extraInfo, selectedModelInfo,extraInfoHeaders, extraInfoBody)"
     class="flex flex-vertical align-items-center" th:if="${!#lists.isEmpty(allModelInstances)}">
    <div  class="flex justify-content-center">
        <div class="flex justify-content-center" id="returned-models-data-container">
            <table id="returned-models-data">
                <thead th:replace="${headers}" id="model-headers">
<!--                <tr th:each="header, stat:${headers}" th:text="${header}"></tr> -->
                </thead>
                <tbody th:replace="${attributes}" id="returned-models-data-body">
                <tr th:each="model, stat :${allModelInstances}" class="model-data-row" th:id="${stat.count}">
                    <td id="model-index-table" th:text="${stat.count}"></td>
                    <td th:replace="${attributes}"></td>
<!--                    <td th:id="'model-'+${attributeName}+'-table'" th:each="attributeName :${attributes}"></td>-->
<!--                    <td id="model-id-table"  th:text="${leasable.leasableId}"></td>-->
<!--                    <td id="model-code-table" th:text="${leasable.leasableCode}"></td>-->
<!--                    <td id="model-type-table" th:text="${leasable.leasableType.leasableTypeName}"></td>-->
<!--                    <td id="model-size-table" th:text="${leasable.leasableSize}"></td>-->
<!--                    <td id="model-rent-table" th:text="${leasable.leasableYearlyRent}"></td>-->
<!--                    <td id="model-status-table" th:text="${leasable.leasableStatus.leasableStatus}"></td>-->
<!--                    <td id="model-date-table" th:text="${leasable.leasableCreationDate}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <div id="modal-container">
        <div class="flex flex-vertical stretch-align-items" id="modal-content">
            <div><button id="close">&times;</button></div>
            <div th:replace="${selectedModelInfo}" id="house-model-info" class="flex justify-content-center grow">
<!--                <div class="model-view-info model-id" id="model-id-modal"></div>-->
<!--                <div class="model-view-info model-code" id="model-code-modal"></div>-->
<!--                <div class="model-view-info model-type" id="model-type-modal"></div>-->
<!--                <div class="model-view-info model-size" id="model-size-modal"></div>-->
<!--                <div class="model-view-info model-rent" id="model-rent-modal"></div>-->
<!--                <div class="model-view-info model-status" id="model-status-modal"></div>-->
            </div>
            <div th:if="${extraInfo != ''}" class="model-view-info flex justify-content-center grow flex-vertical" id="model-history">
                <table class="flex flex-vertical align-items-center" id="model-history-table">
                    <thead th:replace="${extraInfoHeaders}" id="model-history-header" class="flex justify-content-center">
<!--                    <tr>-->
<!--                        <th>Lease Id</th>-->
<!--                        <th>Start Date</th>-->
<!--                        <th>End Date</th>-->
<!--                        <th>Status</th>-->
<!--                        <th>Member</th>-->
<!--                    </tr>-->
                    </thead>
                    <tbody th:replace="${extraInfoBody}" id="model-history-data-body" class="flex justify-content-center">
<!--                    <tr id="model-history-row" th:each="lease, stat:${leaseHistory}">-->
<!--                        <td th:text="${lease.leaseId}"></td>-->
<!--                        <td th:text="${lease.startDate}"></td>-->
<!--                        <td th:text="${lease.endDate}"></td>-->
<!--                        <td th:text="${lease.leaseStatus.leaseStatus}"></td>-->
<!--                        <td th:text="${lease.member.getFullName()}"></td>-->
<!--                        <td class="model-history-identifier" hidden th:text="${lease.leasable.leasableId}"></td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
            <div class="flex justify-content-center" id="update-delete-button-holder">
                <button class="model-toggling" id="update-button" text="update">UPDATE</button>
                <button class="model-toggling" id="delete-button" text="delete">DELETE</button>
            </div>
        </div>
    </div>

    <div class="flex justify-content-center">
        <div id="reduce-page-number-button-holder">
            <button class="change-page-button" id="first-page-button">First</button>
            <button class="change-page-button" id="previous-page-button">Previous</button>
        </div>
        <div id="pagination-button-holder">
        </div>
        <div id="increase-page-number-button-holder">
            <button class="change-page-button" id="next-page-button" >Next</button>
            <button class="change-page-button" id="last-page-button" >Last</button>
        </div>
        <div id="number-of-results">
            <select>
                <option>10</option>
                <option>20</option>
                <option>30</option>
                <option>40</option>
                <option>50</option>
            </select>
        </div>
    </div>
</div>

<script th:fragment="admin-model-scripts" th:src="@{/js/admin/admin-model-scripts.js}"></script>
</body>
</html>