<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <div th:replace="fragments/admin-model-data :: admin-data-style"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="images-data(allModelInstances)">
    <div class="flex flex-vertical align-items-center" th:if="${!#lists.isEmpty(allModelInstances)}">
        <div  class="flex justify-content-center">
            <div class="flex justify-content-center" id="returned-models-data-container">
                <table id="returned-models-data">
                    <thead id="model-headers">
                    <tr>
                        <th>IMAGE ID</th>
                        <th>IMAGE NAME</th>
                        <th>IMAGE TYPE</th>
                        <th>DESCRIPTION</th>
                        <th>UPLOAD DATE</th>
                        <th>IMAGE</th>
                    </tr>
                    </thead>

                    <tbody id="returned-models-data-body">

                    </tbody>
                </table>
            </div>
        </div>


        <div id="model-modal-container">
            <div class="flex flex-vertical stretch-align-items" id="model-modal-content">
                <div><button class="modal-close-button">&times;</button></div>
                <div id="house-model-info" class="flex justify-content-center grow">
                    <div class="model-view-info model-id" id="model-id-modal"></div>
                    <div class="model-view-info model-name" id="model-name-modal"></div>
                    <div class="model-view-info model-type" id="model-type-modal"></div>
                    <label for="model-image-modal">Image: </label>
                    <img class="model-view-info model-actual" id="model-image-modal">
                    <div class="model-view-info model-description" id="model-description-modal"></div>
                    <div class="model-view-info model-uploaded" id="model-uploaded-modal"></div>
                </div>
<!--                <div class="model-view-info flex grow justify-content-center" id="model-history">-->
<!--                    <table class="flex flex-vertical" id="model-history-table">-->
<!--                        <thead  id="model-history-header" class="flex">-->
<!--                        <tr>-->
<!--                            <th>LEASE ID</th>-->
<!--                            <th>START DATE</th>-->
<!--                            <th>END DATE</th>-->
<!--                            <th>MEMBER</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody  id="model-history-data-body" class="flex justify-content-space-between">-->

<!--                        </tbody>-->
<!--                    </table>-->
<!--                </div>-->
                <div class="flex justify-content-center" id="update-delete-button-holder">
                    <button class="model-toggling" id="modal-update-button" text="update">UPDATE</button>
                    <button class="model-toggling" id="modal-delete-button" text="delete">DELETE</button>
                </div>
            </div>
        </div>



        <div class="flex justify-content-center">
            <div id="reduce-page-number-button-holder">
                <button class="change-page-button" id="first-page-button">First</button>
                <button class="change-page-button" id="previous-page-button">Previous</button>
            </div>
            <div id="central-button-holder">
                <div id="pagination-button-holder">
                </div>
            </div>
            <div id="increase-page-number-button-holder">
                <button class="change-page-button" id="next-page-button" >Next</button>
                <button class="change-page-button" id="last-page-button" >Last</button>
            </div>
            <div id="number-of-results">
                <select id="select-number-of-results">
                    <option class="number-of-results" id="ten-results">10</option>
                    <option class="number-of-results" id="twenty-results" selected>20</option>
                    <option class="number-of-results" id="thirty-results">30</option>
                    <option class="number-of-results" id="forty-results">40</option>
                    <option class="number-of-results" id="fifty-results">50</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script th:fragment="admin-images-pagination" th:src="@{/js/admin/admin-images-pagination.js}"></script>
</body>
</html>