<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <link th:fragment="admin-leasables-config-modal-styles" rel="stylesheet" th:href="@{/styles/admin-leasables-config-modal.css}">
    <meta charset="UTF-8">
    <title>Config Modal</title>
</head>
<body>
    <div th:fragment="leasablesConfigurationModal(newConfig, savedConfigurations, allLeasables)" id="configuration-modal" class="flex flex-vertical">
        <div class="flex justify-content-center" id="configuration-builder-container">
            <div><button id="config-modal-close-button">&times;</button></div>
            <div class="flex flex-vertical grow" id="leftSideCanvasControls">
                <input class="leftSideCanvasControl" hidden value="0" th:field="${newConfig.configurationId}" id="configuration-id"/>
                <label class="leftSideCanvasControl" for="configuration-name">Name of Configuration:</label>
                <input class="leftSideCanvasControl" type='text' id="configuration-name" th:field="*{newConfig.configurationName}"/>
                <span class="leftSideCanvasControl">
                            <input type="checkbox" id="publish-configuration" th:field="*{newConfig.published}"/>
                            <label>Publish</label>
                    </span>
                <button class="leftSideCanvasControl" id="save-configuration">Save</button>
                <select class="leftSideCanvasControl" id="select-saved-configurations">
                    <option id="default" value="default" selected>Saved Configurations</option>
                    <option class="saved-configuration" th:each="configuration:${savedConfigurations}" th:text="${configuration.configurationName}" th:name="${configuration.configurationName}" th:value="${configuration.jsonification}" th:id="${configuration.getConfigurationId()}"></option>
                </select>
                <button class="leftSideCanvasControl" id="load-saved-configuration">Load</button>
                <div class="flex justify-content-center leftSideCanvasControl">
                    <button id="undoAction">Undo</button>
                    <button id="redoAction">Redo</button>
                </div>
            </div>
            <div id="center-column" class="flex flex-vertical grow">
                <div class="flex" id="aboveCanvasControls">
                    <button class="aboveCanvasControl" id="toggleGrid">Grid Toggle</button>
                    <select class="aboveCanvasControl" id="plotSelector">
                        <option class="plotOption" id="defaultSelectPlotOption" value="Default">Plots To Add</option>
                        <option th:each="leasable:${allLeasables}" class="plotOption" th:id="${leasable.leasableCode}" th:value="${leasable.leasableCode}" th:text="${leasable.leasableCode} "></option>
                    </select>
                    <button class="aboveCanvasControl" id="addPlotButton">Add Selected Plot</button>
                    <button class="aboveCanvasControl" id="deletePlotButton">Delete Selected</button>
                    <button class="aboveCanvasControl" id="clearAll">Clear All</button>
                    <span class="hiddenAddPlotNotifications" id="noPlotSelectedOnAdd">Please select a plot to add</span>
                    <span class="hiddenAddPlotNotifications" id="noPlotsToSelectOnAdd">No more plots to add, please create a new leasable</span>
                </div>
                <canvas id="myCanvas" style="border:1px solid #000000;">
                </canvas>
            </div>
            <div class="flex flex-vertical grow" id="rightSideCanvasControls">
                <label for="grid-size">Grid Size:</label>
                <input type="number" id="grid-size" min="10" value="20" step="5"/>
                <input type="checkbox" id="snap-to-grid" />
                <label>Snap To Grid</label>
                <label>Additional Elements</label>
                <select>
                    <option class="extraOption" id="defaultExtraOption" value="Default">Add Element</option>
                    <option class="extraOption" id="extraRectArea" value="1">Rect Area</option>
                    <option class="extraOption" id="extraCircleArea" value="2">Circle Area</option>
                    <option class="extraOption" id="extraTextbox" value="3">Textbox</option>
                    <option class="extraOption" id="extraDottedLine" value="4">Dotted Line</option>

                </select>
                <button id="addExtraButton">Add Extra</button>

                <div class="flex flex-vertical" id="selectedObjectInfoDiv">
                    <div id="selectedObjectIdHeader">
                        <span>Selected</span>
                    </div>
<!--                    <label for="adjustSelectedByBorder">Scale Shape Manually</label>-->
<!--                    <input id="adjustSelectedByBorder" type="checkbox"/>-->
<!--                    <label for="selectedObjectWidth">Width</label>-->
<!--                    <div class="flex">-->
<!--                        <input type="button" value="-" id="sizeMinusStepWidth">-->
<!--                        <input type="type" id="selectedObjectWidth" step="1" min="1" max="" name="quantity" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">-->
<!--                        <input type="button" value="+"id="sizePlusStepWidth">-->
<!--                    </div>-->
<!--                    <label for="selectedObjectHeight">Height</label>-->
<!--                    <div class="flex">-->
<!--                        <input type="button" value="-" id="sizeMinusStepHeight">-->
<!--                        <input type="type" id="selectedObjectHeight" step="1" min="1" max="" name="quantity" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">-->
<!--                        <input type="button" value="+" id="sizePlusStepHeight">-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
<script th:fragment="admin-leasables-config-modal-script" th:src="@{/js/admin/admin-leasables-config-script.js}"></script>
</body>
</html>