<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <div th:replace="fragments/admin-model-data :: admin-data-style"></div>
    <meta charset="UTF-8">
    <title>Leasables Data</title>
</head>
<body>
    <div th:fragment="leasables-data(allModelInstances, leasableToAlter, leasableStatuses, leasableTypes)">
        <div class="flex flex-vertical align-items-center" th:if="${!#lists.isEmpty(allModelInstances)}">
            <div  class="flex justify-content-center">
                <div class="flex justify-content-center" id="returned-models-data-container">
                    <table id="returned-models-data">
                        <thead id="model-headers">
                            <tr>
                                <th>LEASABLE ID</th>
                                <th>LEASABLE CODE</th>
                                <th>LEASABLE RENT</th>
                                <th>LEASABLE SIZE</th>
                                <th>CREATION DATE</th>
                                <th>LEASABLE TYPE</th>
                                <th>LEASABLE STATUS</th>
                            </tr>
                        </thead>
                        <tbody id="returned-models-data-body">
                        </tbody>
                    </table>
                </div>
            </div>


            <div id="model-modal-container">
                <form method="post" id="modal-view-form" th:object="${leasableToAlter}">
                    <div class="flex flex-vertical stretch-align-items" id="model-modal-content">
                        <div><button class="modal-close-button">&times;</button></div>
                        <div id="house-model-info" class="flex grow flex-wrap-wrap justify-content-space-between">
                            <div class="data-container-view-modal">Id:
                                <span class="model-view-info model-id" id="model-id-modal-span"></span>
                                <input type="text" class="model-input-info  hidden" id="model-id-modal-input" th:field="*{leasableId}"/>
                            </div>
                            <div class="data-container-view-modal">Code:
                                <span class="model-view-info model-code" id="model-code-modal-span"></span>
                                <input type="text" class="model-input-info  hidden" id="model-code-modal-input" th:field="*{leasableCode}"/>
                            </div>
                            <div class="data-container-view-modal">Type:
                                <span class="model-view-info model-type" id="model-type-modal-span"></span>
<!--                                <input class="model-input-info  hidden" id="model-type-modal-input"/>-->
                                <select class="model-input-info hidden" id="model-type-modal-selector" th:field="*{leasableType}">
                                    <option th:each="leasableType:${leasableTypes}" th:text="${leasableType.leasableTypeName}" th:value="${leasableType.leasableTypeId}" th:id="${leasableType.leasableTypeName}"></option>
                                </select>
                            </div>
                            <div class="data-container-view-modal">Size:
                                <span class="model-view-info model-size" id="model-size-modal-span"></span>
                                <input type="text" class="model-input-info  hidden" id="model-size-modal-input" th:field="*{leasableSize}"/>
                            </div>
                            <div class="data-container-view-modal">Rent:
                                <span class="model-view-info model-rent" id="model-rent-modal-span"></span>
                                <input type="text" class="model-input-info  hidden" id="model-rent-modal-input" th:field="*{leasableYearlyRent}"/>
                            </div>
                            <div class="data-container-view-modal">Status:
                                <span class="model-view-info model-status" id="model-status-modal-span"></span>
<!--                                <input class="model-input-info  hidden" id="model-status-modal-input"/>-->
                                <select  class="model-input-info hidden" id="model-status-modal-selector" th:field="*{leasableStatus}">
                                    <option th:each="status:${leasableStatuses}" th:value="${status.leasableStatusId}" th:text="${status.leasableStatus}" th:id="${status.leasableStatus}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="model-view-info flex grow justify-content-center" id="model-history">
                            <div class="scroll-y">
                                <table class="flex flex-vertical" id="model-history-table">
                                    <thead  id="model-history-header" class="flex">
                                            <tr>
                                                <th>LEASE ID</th>
                                                <th>START DATE</th>
                                                <th>END DATE</th>
                                                <th>MEMBER</th>
                                            </tr>
                                    </thead>
                                    <tbody  id="model-history-data-body" class="flex justify-content-space-between">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="flex justify-content-center" id="update-delete-button-holder">
                            <button class="model-toggling" id="modal-update-button" text="update">UPDATE</button>
                            <button class="model-toggling" id="modal-delete-button" text="delete">DELETE</button>
                            <span class="hidden continue-delete" id="continue-delete-prompt">ARE YOU SURE YOU'D LIKE TO DELETE?</span>
                            <button type="submit" class="model-toggling continue-delete hidden" id="continue-delete-yes">YES</button>
                            <button class="model-toggling continue-delete hidden" id="continue-delete-no">NO</button>
                            <span class="hidden continue-update" id="continue-update-prompt">PLEASE CONFIRM THE UPDATES...</span>
                            <button type="submit" class="model-toggling continue-update hidden" id="continue-update-confirm">CONFIRM</button>
                            <button class="model-toggling continue-update hidden" id="continue-update-cancel">CANCEL</button>
                        </div>
                    </div>
                </form>
            </div>



            <div class="flex justify-content-center">
                <div id="reduce-page-number-button-holder">
                    <button class="change-page-button" id="first-page-button">First</button>
                    <button class="change-page-button" id="previous-page-button">Previous</button>
                </div>
                <div id="central-button-holder">
                    <div id="pagination-button-holder">
                    </div>
                </div>
                <div id="increase-page-number-button-holder">
                    <button class="change-page-button" id="next-page-button" >Next</button>
                    <button class="change-page-button" id="last-page-button" >Last</button>
                </div>
                <div id="number-of-results">
                    <select id="select-number-of-results">
                        <option class="number-of-results" id="ten-results">10</option>
                        <option class="number-of-results" id="twenty-results" selected>20</option>
                        <option class="number-of-results" id="thirty-results">30</option>
                        <option class="number-of-results" id="forty-results">40</option>
                        <option class="number-of-results" id="fifty-results">50</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

<script th:fragment="admin-leasables-pagination" th:src="@{/js/admin/admin-leasables-pagination.js}"></script>
</body>
</html>