<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <div th:replace="fragments/admin-model-data :: admin-data-style"></div>
    <meta charset="UTF-8">
    <title>Leases Data</title>
</head>
<body>
<div th:fragment="leases-data(allModelInstances, leaseStatuses,availableLeasables, allMembers, leaseToAlter )">
    <div class="flex flex-vertical align-items-center" th:if="${!#lists.isEmpty(allModelInstances)}">
        <div  class="flex justify-content-center">
            <div class="flex justify-content-center" id="returned-models-data-container">
                <table id="returned-models-data">
                    <thead id="model-headers">
                        <tr>
                            <th>LEASE ID</th>
                            <th>LEASE START</th>
                            <th>LEASE END</th>
                            <th>LEASE STATUS</th>
                            <th>MEMBER</th>
                            <th>LEASABLE</th>
                        </tr>
                    </thead>
                    <tbody id="returned-models-data-body">
                    </tbody>
                </table>
            </div>
        </div>

        <div id="model-modal-container">
            <form id="modal-view-form" method="post" th:object="${leaseToAlter}">
                <div class="flex flex-vertical stretch-align-items" id="model-modal-content">
                    <div><button class="modal-close-button">&times;</button></div>
                    <div id="house-model-info" class="flex grow flex-wrap-wrap justify-content-space-between">
                        <div class="data-container-view-modal" >Id:
                            <span class="model-view-info model-id" id="model-id-modal-span">></span>
                            <input type="text" class="model-input-info hidden" id="model-id-modal-input" th:field="*{leaseId}"/>
                        </div>
                        <div class="data-container-view-modal" >Start:
                            <span class="model-view-info model-start" id="model-start-modal-span"></span>
                            <input type="text" class="model-input-info hidden" id="model-start-modal-input" th:field="*{startDate}"/>
                        </div>
                        <div class="data-container-view-modal" >End:
                            <span class="model-view-info model-end" id="model-end-modal-span"></span>
                            <input type="text" class="model-input-info hidden" id="model-end-modal-input" th:field="*{endDate}"/>
                        </div>
                        <div class="data-container-view-modal" >Member:
                            <span class="model-view-info model-member" id="model-member-modal-span"></span>
                            <select class="model-input-info hidden" id="model-member-modal-selector" th:field="*{member}">
                                <option th:each="member:${allMembers}" th:value="${member.memberId}" th:id="'member-'+${member.memberId}" th:text="${member.getFullName()}"></option>
                            </select>
                        </div>
                        <div class="data-container-view-modal" >Leasable:
                            <span class="model-view-info model-leasable" id="model-leasable-modal-span"></span>
                            <select class="model-input-info hidden" id="model-leasable-modal-selector" th:field="*{leasable}">
                                <option id="current-leasable-option" value="" selected></option>
                                <option th:each="leasable:${availableLeasables}" th:value="${leasable.leasableId}" th:id="${leasable.leasableCode}" th:text="${leasable.leasableCode}"></option>
                            </select>
                        </div>
                        <div class="data-container-view-modal" >Status:
                            <span class="model-view-info model-status" id="model-status-modal-span"></span>
                            <select class="model-input-info hidden" id="model-status-modal-selector" th:field="*{leaseStatus}">
                                <option th:each="leaseStatus:${leaseStatuses}" th:value="${leaseStatus.leaseStatusId}" th:id="${leaseStatus.leaseStatus}" th:text="${leaseStatus.leaseStatus}"></option>
                            </select>
                        </div>
                    </div>
<!--                    <div class="model-view-info flex grow justify-content-center" id="model-history">-->
<!--                        <table class="flex flex-vertical" id="model-history-table">-->
<!--                            <thead  id="model-history-header" class="flex">-->
<!--                            <tr>-->
<!--    &lt;!&ndash;                            <th>LEASABLE ID</th>&ndash;&gt;-->
<!--    &lt;!&ndash;                            <th>LEASABLE CODE</th>&ndash;&gt;-->
<!--    &lt;!&ndash;                            <th>LEASABLE STATUS</th>&ndash;&gt;-->
<!--    &lt;!&ndash;                            <th>LEASABLE TYPE</th>&ndash;&gt;-->
<!--                            </tr>-->
<!--                            </thead>-->
<!--                            <tbody  id="model-history-data-body" class="flex justify-content-space-between">-->

<!--                            </tbody>-->
<!--                        </table>-->
<!--                    </div>-->
                    <div class="flex justify-content-center" id="update-delete-button-holder">
                        <button class="model-toggling" id="modal-update-button" text="update">UPDATE</button>
                        <button class="model-toggling" id="modal-delete-button" text="delete">DELETE</button>
                        <span class="hidden continue-delete" id="continue-delete-prompt">ARE YOU SURE YOU'D LIKE TO DELETE?</span>
                        <button type="submit" class="model-toggling continue-delete hidden" id="continue-delete-yes">YES</button>
                        <button class="model-toggling continue-delete hidden" id="continue-delete-no">NO</button>
                        <span class="hidden continue-update" id="continue-update-prompt">PLEASE CONFIRM THE UPDATES...</span>
                        <button type="submit" class="model-toggling continue-update hidden" id="continue-update-confirm">CONFIRM</button>
                        <button class="model-toggling continue-update hidden" id="continue-update-cancel">CANCEL</button>
                    </div>
                </div>
            </form>
        </div>



        <div class="flex justify-content-center">
            <div id="reduce-page-number-button-holder">
                <button class="change-page-button" id="first-page-button">First</button>
                <button class="change-page-button" id="previous-page-button">Previous</button>
            </div>
            <div id="central-button-holder">
                <div id="pagination-button-holder">
                </div>
            </div>
            <div id="increase-page-number-button-holder">
                <button class="change-page-button" id="next-page-button" >Next</button>
                <button class="change-page-button" id="last-page-button" >Last</button>
            </div>
            <div id="number-of-results">
                <select id="select-number-of-results">
                    <option class="number-of-results" id="ten-results">10</option>
                    <option class="number-of-results" id="twenty-results" selected>20</option>
                    <option class="number-of-results" id="thirty-results">30</option>
                    <option class="number-of-results" id="forty-results">40</option>
                    <option class="number-of-results" id="fifty-results">50</option>
                </select>
            </div>
        </div>
    </div>
</div>
<script th:fragment="admin-leases-pagination" th:src="@{/js/admin/admin-leases-pagination.js}"></script>
</body>
</html>