<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <div th:replace="fragments/admin-model-data :: admin-data-style"></div>
    <meta charset="UTF-8">
    <title>Message-Threads</title>
</head>
<body>
<div th:fragment="message-threads-data(allModelInstances, messageThreadStatuses, messageThreadToAlter)">
    <div class="flex flex-vertical align-items-center" >
        <div  class="flex justify-content-center">
            <div class="flex justify-content-center" id="returned-models-data-container">
                <table id="returned-models-data">
                    <thead id="model-headers">
                    <tr>
                        <th>MESSAGE THREAD ID</th>
                        <th>THREAD NAME</th>
                        <th>CREATED</th>
                        <th>STATUS</th>
                    </tr>
                    </thead>

                    <tbody id="returned-models-data-body">

                    </tbody>
                </table>
            </div>
        </div>


        <div id="model-modal-container">
            <form id="modal-view-form" method="post" th:object="${messageThreadToAlter}">
                <div class="flex flex-vertical stretch-align-items" id="model-modal-content">
                    <div><button class="modal-close-button">&times;</button></div>
                    <div id="house-model-info" class="flex grow flex-wrap-wrap justify-content-space-between">
                        <div class="data-container-view-modal">Id:
                            <span class="model-view-info model-id" id="model-id-modal-span"></span>
                            <input class="model-input-info  hidden" id="model-id-modal-input" th:field="*{messageThreadId}"/>
                        </div>
                        <div class="data-container-view-modal">Name:
                            <span class="model-view-info model-name" id="model-name-modal-span"></span>
                            <input class="model-input-info  hidden" id="model-name-modal-input" th:field="*{messageThreadName}"/>
                        </div>
                        <div class="data-container-view-modal">Created:
                            <span class="model-view-info model-input-info model-created" id="model-created-modal-span"></span>
                        </div>
                        <div class="data-container-view-modal">Status:
                            <span class="model-view-info model-status" id="model-status-modal-span"></span>
                            <select class="model-input-info hidden" id="model-status-modal-selector" th:field="*{messageThreadStatus}">
                                <option th:each="status :${messageThreadStatuses}" th:value="${status.messageThreadStatusId}" th:text="${status.messageThreadStatus}" th:id="${status.messageThreadStatus}"></option>
                            </select>
                        </div>
                    </div>
    <!--                <div class="model-view-info flex grow justify-content-center" id="model-history">-->
    <!--                    <table class="flex flex-vertical" id="model-history-table">-->
    <!--                        <thead  id="model-history-header" class="flex">-->
    <!--                        <tr>-->
    <!--                            <th>LEASE ID</th>-->
    <!--                            <th>START DATE</th>-->
    <!--                            <th>END DATE</th>-->
    <!--                            <th>LEASABLE</th>-->
    <!--                        </tr>-->
    <!--                        </thead>-->
    <!--                        <tbody  id="model-history-data-body" class="flex justify-content-space-between">-->

    <!--                        </tbody>-->
    <!--                    </table>-->
    <!--                </div>-->
                    <div class="flex justify-content-center" id="update-delete-button-holder">
                        <button class="model-toggling" id="modal-update-button" text="update">UPDATE</button>
                        <button class="model-toggling" id="modal-delete-button" text="delete">DELETE</button>
                        <span class="hidden continue-delete" id="continue-delete-prompt">ARE YOU SURE YOU'D LIKE TO DELETE?</span>
                        <button type="submit" class="model-toggling continue-delete hidden" id="continue-delete-yes">YES</button>
                        <button class="model-toggling continue-delete hidden" id="continue-delete-no">NO</button>
                        <span class="hidden continue-update" id="continue-update-prompt">PLEASE CONFIRM THE UPDATES...</span>
                        <button type="submit" class="model-toggling continue-update hidden" id="continue-update-confirm">CONFIRM</button>
                        <button class="model-toggling continue-update hidden" id="continue-update-cancel">CANCEL</button>
                    </div>
                </div>
            </form>
        </div>



        <div class="flex justify-content-center">
            <div id="reduce-page-number-button-holder">
                <button class="change-page-button" id="first-page-button">First</button>
                <button class="change-page-button" id="previous-page-button">Previous</button>
            </div>
            <div id="central-button-holder">
                <div id="pagination-button-holder">
                </div>
            </div>
            <div id="increase-page-number-button-holder">
                <button class="change-page-button" id="next-page-button" >Next</button>
                <button class="change-page-button" id="last-page-button" >Last</button>
            </div>
            <div id="number-of-results">
                <select id="select-number-of-results">
                    <option class="number-of-results" id="ten-results">10</option>
                    <option class="number-of-results" id="twenty-results" selected>20</option>
                    <option class="number-of-results" id="thirty-results">30</option>
                    <option class="number-of-results" id="forty-results">40</option>
                    <option class="number-of-results" id="fifty-results">50</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/general :: general-admin-pagination-script" ></div>
<script th:fragment="admin-message-threads-pagination" th:src="@{/js/admin/admin-message-threads-pagination.js}"></script>
</body>
</html>