<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layouts/admin-data-layout.html}">

<head>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <div th:replace="fragments/admin-model-data :: admin-data-style"></div>
    <div th:replace="fragments/admin-panel-nav :: admin-nav-style"></div>
    <div th:replace="fragments/create-modals :: create-modal-styles"></div>
    <meta charset="UTF-8">
    <title>Images</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>

<div class="avoidHeaderNav">
    <div th:replace="fragments/admin-panel-nav :: admin-panel-nav(currentModelId='leasables', currentModelName='LEASABLES')"></div>

    <div class="flex flex-vertical align-items-center" th:if="${!#lists.isEmpty(allImages)}">
        <div layout:fragment="search-and-options">
            <div th:replace="fragments/admin-search-options :: search-and-button-holder-fragment
            (searchableAttribute='Image Names',
             createModal = 'true',
              modelName='Images',
               statusModal='false',
                typeModal='true', rolesModal='false', configurationModal='false')">
            </div>
        </div>
        <div layout:fragment="model-data">
            <div th:replace="fragments/admin-images-pagination :: images-data
            (allModelInstances=${allImages})"></div>
        </div>
    </div>
    <div th:if="${#lists.isEmpty(allImages)}">
        <p>No results</p>
    </div>

    <div th:replace="fragments/create-modals :: create-modal-images(imageToUpload=${imageToUpload}, imageTypes=${imageTypes})"></div>

    <div th:replace="fragments/general :: main-footer"></div>
</div>

<div th:replace="fragments/general :: main-navigation-script"></div>
<div th:replace="fragments/admin-search-options :: admin-search-options"></div>
<div th:replace="fragments/general :: general-admin-pagination-script" ></div>
<div th:replace="fragments/admin-images-pagination :: admin-images-pagination"></div>
<div th:replace="fragments/create-modals :: create-modal-script"></div>

</body>
</html>