<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

</head>
<body>
<h1>Image To Upload</h1>

<form th:action="@{/admin/images/upload-approved}" method="post" id="uploadImageForm" th:object="${imageToUpload}" enctype="multipart/form-data">
    <label for="imagePath">Photo:</label>
    <input type="file" id="imagePath" accept="image/png, image/jpeg" required name="image"/>
    <label for="imageDescription">Description:</label>
    <textarea id="imageDescription" th:field="*{imageDescription}" name="imageDescription"/>
    <table>
        <thead>
        <th>
        <td>Image Type</td>
        </th>
        </thead>
        <tbody>
        <tr th:each="imageType:${imageTypes}">
            <td>
                <input th:field="*{imageType}" th:value="${imageType.imageTypeId}" type="checkbox" th:id="${imageType.imageType}" name="type" />
                <label th:for="${imageType.imageType}" th:text="${imageType.imageType}">Label</label>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Upload Image"/>
    <input type="reset" value="Reset Details"/>
</form>

<script>

//    var myForm = document.querySelector("#uploadImageForm");
//
//    var formData = new FormData();
//
//    console.log(myForm);
//
//    myForm.addEventListener("submit", function(event) {
//        // event.preventDefault();
//        var email = $("#email").val().toString().split(",").reverse()[0];
//        formData.append("email", email);
//        fetch('/api/images/check-email', {method: 'POST', body: formData})
//            .then(response => response.json())
//            .then(data => {
//                for(let field in data){
//                    if(field.toString() === "imageId"){
//                        if(data[field] == 0) {
//                            console.log("email approved");
//                            return true;
//                        } else{
//                            console.log("email rejected");
//                            return false;
//                        }
//                    }
//                }
//                console.log("error");
//                return false;
//            });
//    });

</script>
</body>
</html>