<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <link rel="stylesheet" href="styles/contactUs.css">
    <title>Contact Us</title>
</head>
<body>
<div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>
<div class="main-content-holder background-image-holder flex center-center-items" id="first-section-container">
        <div class="contact-us-form-holder flex flex-vertical">
            <form action="contactUs.html" class="contact-us-form flex flex-vertical">
                <div><input type="text" placeholder="FULL NAME" required class="name"></div>
                <div><input type="email" placeholder="EMAIL ADDRESS" required class="email"></div>
                <div><input type="text" placeholder="SUBJECT" maxlength="100" required class="subject"></div>
                <div><textarea placeholder="TALK TO US..." maxlength="500" required class="content"></textarea></div>
                <div><input type="submit" value="SUBMIT" class="submit"></div>
            </form>
        </div>
    </div>
<div th:replace="fragments/general :: main-navigation-script"></div>
</body>
</html>