<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <div th:replace="fragments/general :: base-style"></div>
    <div th:replace="fragments/general :: main-navigation-style"></div>
    <div th:replace="fragments/general :: base-script"></div>
    <link rel="stylesheet" href="/styles/index.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>
<body>
    <div th:replace="fragments/general :: main-navigation(currentUser=${currentUser})"></div>
    <div class="flex flex-vertical" id="first-section-container" style="overflow: hidden;">
        <div class="welcome-section-fp top-right-flex-item flex flex-vertical"
            data-aos="fade-left"
            data-aos-easing="ease-in-sine"
            data-aos-mirror="true"
        >
            <h2>WELCOME TO THE CLUB!</h2>
            <p>Check out the JOIN US page if you're new...</p>
        </div>
        <div class="club-announcements-fp bottom-left-flex-item flex flex-vertical"
            data-aos="fade-right"
            data-aos-easing="ease-in-sine"
            data-aos-mirror="true"
        >
            <h2>ANNOUNCEMENTS</h2>
            <p>Check out some of our upcoming charity events!</p>
            <p th:if="${latestPost == null}" th:text="'Check out our latest blog posts...'"></p>
            <p th:unless="${latestPost == null}" th:text="'Check out our latest post on ' + ${latestPost.postTitle.toLowerCase()}"></p>
        </div>
    </div>
    <div class="flex flex-vertical beauty-margin" id="second-section-container">
        <div class="table-label" id="upper-fp-table-label">
            <span>OUR CLUB HAS...</span>
        </div>
        <div class="table-container flex flex-vertical">
            <table class="garden-stats-table">
                <tr class="fron-page-tr tr-th">
                    <th>MEMBERS</th>
                    <th>GARDEN AREA</th>
                    <th>PLOTS</th>
                    <th>BEE HIVES</th>
                    <th>FISH TANKS</th>
                </tr>
                <tr class="fron-page-tr tr-td">
                    <td th:text="${totalMembers}"></td>
                    <td>5 ACRES</td>
                    <td>75</td>
                    <td>45</td>
                    <td>12</td>
                </tr>
            </table>
        </div>
        <div class="table-label" id="lower-fp-table-label">
            <span>...AND WE ARE ALWAYS GROWING!</span>
        </div>
    </div>
    <div class= "flex beauty-margin" id="third-section-container">
        <div class="flex flex-vertical">
            <h3>OUR MISSION</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex reprehenderit natus voluptatibus amet! Autem id corporis soluta ullam dolorum, ducimus accusantium facere ipsum et quibusdam, dolorem dolor nulla iste fugiat maiores amet repellendus illo totam? Autem pariatur libero voluptatem omnis cumque, ratione possimus ipsam quo numquam, quam iste ut aut quibusdam corrupti. Ut nisi voluptatum consequatur ab sunt dolore, dignissimos, necessitatibus voluptates, excepturi officiis iusto tempora assumenda iure beatae delectus sit! Quaerat maiores dignissimos natus, eius, facere nobis est praesentium, quibusdam doloremque ullam dicta possimus labore perspiciatis. Nihil sapiente ea, iste nemo quasi tenetur tempora at. Doloremque minus unde assumenda!
            </p>
        </div>
    </div>
    <div class="flex" id="fourth-section-container">

    </div>
    <div class="flex" id="fifth-section-container">
        <div class="scroll-container prev-image" id="prev-image-container"><a class="prev-image ss-scroller">&#10094</a></div>
        <div class="gallery-slides flex" >
            <img src="images/loginGardenImage1.jpg" alt="">
        </div>
        <div class="gallery-slides flex">
            <img src="images/loginGardenImage2.jpg" alt="">
        </div>
        <div class="gallery-slides flex">
            <img src="images/loginGardenImage6.jpg" alt="">
        </div>
        <div class="gallery-slides flex">
            <img src="images/loginGardenImage7.jpg" alt="">
        </div>
        <div class="gallery-slides flex">
            <img src="images/loginGardenImage8.jpg" alt="">
        </div>
        <div class="scroll-container next-image" id="next-image-container"><a class="next-image ss-scroller">&#10095</a></div>
    </div>
    <footer>

    </footer>
    <div th:replace="fragments/general :: main-navigation-script"></div>
    <script th:src="@{js/basic/slideshowHP.js}"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>