<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>
</head>
<body>
<div>
    <form th:action="@{/admin}" method="get">
        <input type="submit" value="Dashboard">
    </form>
    <form th:action="@{/admin/users}" method="get">
        <input type="submit" value="Members">
    </form>
    <form th:action="@{/admin/leasables}" method="get">
        <input type="submit" value="Leasables">
    </form>
    <form th:action="@{/admin/leases}" method="get">
        <input type="submit" value="Leases">
    </form>
    <form th:action="@{/admin/posts}" method="get">
        <input type="submit" value="Posts">
    </form>
    <form th:action="@{/admin/message-threads}" method="get">
        <input type="submit" value="Message Threads">
    </form>
    <form th:action="@{/admin/images}" method="get">
        <input type="submit" value="Images">
    </form>
    <form th:action="@{/admin/payments}" method="get">
        <input type="submit" value="Payments">
    </form>

    <div th:if="${!#lists.isEmpty(allPosts)}">
        <form id="myForm" method="post" th:action="@{/admin/posts/}">
            <table>
                <thead>
                <th>
                <td>Post ID</td>
                <td>Title</td>
                <td>Member</td>
                <td>Creation Date</td>
                <td>Publish Date</td>
                <td>Post Tags</td>
                <td>Post Status</td>
                <td>Apply Updates</td>
                </th>
                </thead>
                <tbody>
                <tr th:each="post, stat :${allPosts}" class="postList">
                    <td th:text="${post.postId}"></td>
                    <td th:text="${post.postTitle}"></td>
                    <td th:text="${post.member.getFullName()}"></td>
                    <td th:text="${post.creationDate}"></td>
                    <td th:text="${post.postDate}"></td>
                    <td th:text="${post.postTagList}"></td>
                    <td th:text="${post.postStatus}"></td>
                    <td><input type="radio" th:attr="data-post-identification=${post.postId}" name="postId" class="updatePost"></td>
                </tr>
                </tbody>
            </table>
            <input type="submit" id="updateStatus" formaction="/admin/post-status/update" value="Update Statuses"/>
            <input type="submit" id="updateTags" formaction="/admin/post-tags/update" value="Update Tags"/>
            <input type="submit" class="createPost" formaction="/admin/posts/create" value="Create New Post"/>
            <input type="submit" id="deletePost" formaction="/admin/posts/" value="Delete Post"/>
            <input type="submit" value="Update Post"/>
        </form>

    </div>
    <div th:if="${#lists.isEmpty(allPosts)}">
        <form method="post">
            <p>No results</p>
            <input type="submit" class="createPost" formaction="/admin/posts/create" value="Create New Post"/>
        </form>
    </div>
</div>

<script>

    $(".updatePost").change(function() {
        var post = document.querySelector(".updatePost:checked").dataset.postIdentification;
        console.log(post);
        var formElement = document.querySelector("#myForm");
        var deleteButton = document.querySelector("#deletePost");
        formElement.setAttribute("action", "/admin/posts/update/" + post);
        deleteButton.setAttribute("formaction", "/admin/posts/delete/" + post);
    });

</script>
</body>
</html>