<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js}"></script>

</head>
<body>
<h1>Lease To Update</h1>

<form th:action="@{/admin/posts/update-approved}" method="post" id="updateLeaseForm">
    <input hidden th:field="${postToUpdate.postId}" th:value="${postToUpdate.postId}"/>
    <label for="postTitle">Post Title:</label>
    <input type="text" class="postTitle" id="postTitle" th:field="*{postToUpdate.postTitle}"  required/>
    <label for="postContent">Post Content:</label>
    <textarea id="postContent" th:field="*{postToUpdate.postContent}" rows="6" maxlength="3000" required></textarea>

    <table>
        <thead>
        <th>
        <td>Post Tags</td>
        </th>
        </thead>
        <tbody id="tagContainer">
        <tr th:each="tag:${allTags}">
            <td>
                <input class="postTags" th:field="*{postToUpdate.postTagList}" th:value="${tag.postTagId}" type="checkbox" th:id="${tag.postTagId}" name="postTag" th:attr="data-post-tag=${tag.postTagTitle}"/>
                <label th:for="${tag.postTagId}" th:text="${tag.postTagTitle}">Label</label>
            </td>
        </tr>
        <tr id="tagRow">
            <input hidden th:field="${newTagsStringList.newPostTagTitles}" id="newTagContainer" />
        </tr>
        <tr>
            <td>
                <input type="text" id="newPostTag"/>
                <label for="newPostTag">New Post Tag: </label>
                <button id="submitNewTag" >Add New Tag </button>
                <span>(10 Max)</span>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <th>
        <td>Post Author</td>
        </th>
        </thead>
        <tbody>
        <tr th:each="member:${allMembers}">
            <td>
                <input class="postMember" th:field="*{postToUpdate.member}" th:value="${member.memberId}" type="radio" th:id="${member.memberId}" name="postMember" />
                <label th:for="${member.memberId}" th:text="${member.getFullName()}">Label</label>
            </td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <th>
        <td>Post Status</td>
        </th>
        </thead>
        <tbody>
        <tr th:each="postStatus:${postStatuses}">
            <td>
                <input class="postStatus" th:field="*{postToUpdate.postStatus}" th:value="${postStatus.postStatusId}" type="radio" th:id="${postStatus.postStatus}" name="status" />
                <label th:for="${postStatus.postStatus}" th:text="${postStatus.postStatus}">Label</label>
            </td>
        </tr>
        </tbody>
    </table>
    <input type="submit" value="Update Lease"/>
    <input type="reset" value="Reset Details"/>
</form>

<script th:inline="javascript">
    /*<![CDATA[*/
    let id;
    let newTagsStringList = /*[[${newTagsStringList}]]*/ 'default';
    let myForm = document.querySelector("#updateLeaseForm");
    let addTagInputBox = document.querySelector("#newPostTag");
    let addTagButton = document.querySelector("#submitNewTag");
    let tagContainer = document.querySelector("#tagRow");
    let formData = new FormData();
    let postTags;
    let member;
    let postTitle;
    let stringList = [];
    let newTitleHolder = document.querySelector("#newTagContainer");

    addTagButton.addEventListener("click", function(event){
        event.preventDefault();
        let newTagValue = $("#newPostTag").val();
        if(newTagValue != "") {
            console.log(newTagValue);
            let newSpan = document.createElement("span");
            newSpan.appendChild(document.createTextNode(newTagValue));
            newSpan.setAttribute("class", "new-post-tag");
            tagContainer.appendChild(newSpan);
            $("#newPostTag").val('');
            stringList.push(newTagValue);
            console.log(stringList);
            newTitleHolder.setAttribute("value", stringList.join(","));
            console.log(newTagsStringList);
        }
    })

    myForm.addEventListener("submit", function(event) {
        let submit = false;
        id = window.location.href.toString().split("/").reverse()[0];
        member = document.querySelector(".postMember:checked");
        postTitle = $("#postTitle").val();
        console.log(postTitle);
        if(member != null && postTitle != null) {
            console.log("passed selection validation")
            formData.append("postTitle", postTitle);
            fetch('/api/posts/check-title-id', {method: 'POST', body: formData})
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    for (let field in data) {
                        if (field.toString() === "postId") {
                            if (data[field] == id) {
                                console.log("title approved");
                                submit = true;
                            } else {
                                console.log("title rejected");
                            }
                            break;
                        }
                    }
                    if(submit){
                        return true;
                    }

                    return false;
                });
        } else{
            event.preventDefault();
        }

    });

    /*]]>*/
</script>
</body>
</html>