#external-admin-panel-container{
padding: 1vh 12.5vw 0 12.5vw;
}
#current-admin-page-header{
    font-size: xx-large;
    font-weight: bold;
}

.admin-page-link-container{
    justify-items: center;
    align-items: center;
    border: black 1px solid;
    background-color: #aaaaaa;
    margin-inline: 2px;
    font-size: medium;
}

#dashboardContainer:hover,
#leasablesContainer:hover,
#membersContainer:hover,
#leasesContainer:hover,
#postsContainer:hover,
#messageThreadsContainer:hover,
#imagesContainer:hover,
#paymentsContainer:hover{

}
