
*{
    box-sizing: border-box;
}


/* body {
    height: 140vh;
} */
.flex {
    display: flex;
}

.grid {
    display: grid;
}

.only-flex-item{
    flex:1;
}

.center-center-items{
    justify-content: center;
    align-items: center;
}

.beauty-margin{
    padding: 0 4vw;
}

.pos-relative{
    position: relative;
}

.flex-vertical{
    flex-direction:column;
}

.align-items-center {
    align-items: center;
}


.top-level-header-container {
    height: 5rem;
    width: 100vw;
    background: tomato;
    position: fixed;
    top:0;
    left:0;
}

.sub-level-header-container {
    display: flex;
    /* padding: 0 2rem; */
    height: 5rem;
    align-items: center;
    overflow: hidden;
}

.navigation-link-container {
    height:5rem;
    display: flex;
    justify-content: space-between;
}

.hidden-main {
    display: none;
}

.container-of-spans {
    display: flex;
}

.span-links-container{
    display: flex;
}

.span-links-container span {
    padding-inline: 1rem;
}

.span-hover-dropdown{
    
}

.span-links-container span a{
    display: inline-block;
    /* padding-inline: 1rem; */
    padding-top: 10%;
    padding-bottom: 10%;
}

.container-of-spans span {
    border-top: 0.2rem solid tomato;
    border-bottom: 0.2rem solid tomato;
    display: flex;
    align-items: center;
}

.span-signin-container span:hover,
.span-links-container span:hover{
    border-top: 0.2rem solid black;
    border-bottom: 0.2rem solid black;
    transition: ease 1s;
}

a {
    color: black;
    text-decoration: none;
}

.logo-link {
    color: white;
}

.hidden-flower-button-container {
    display: none;   
}

.span-logo-holder {
    background-color: black;
    z-index: 100;
}

.hidden-menu-container{
    position:fixed;
    background: rgb(253, 135, 114);
    /* z-index: 99; */
    height: calc(100vh - 5rem);
    width: 100%;
    top:0;
    /* top:calc((100vh - 5rem)*-1); */
    left:0;
    justify-content: center;
    display: block;
    flex-direction: column;
    text-align: center;
    padding:10rem;
    transform: translateY(calc(-100%));
    transition: transform 0.5s;
}

.showMenu {
    transform: translateY(5rem);
    /* transition: transform 0.2s; */
}

.hidden-menu-container span{
    display:block;
    margin: 2rem 0;
}

.hidden-menu-container span a{
    display:block;
    margin: 2rem 0;
}



#first-section-container{
    margin-top:5rem;
    /* position: relative;  */
    height: 120vh;
    z-index: -1;
    background-image: url(../images/contactUs3.jpg);
    background-size: cover;
}


.contact-us-form-holder{
    height: 100%;
    width: 100%;
    /* position: absolute; */
    background-color: rgba(255, 255, 255, 0.5);
}

.contact-us-form{
    padding-inline: 20vw;
    height:100%;
    justify-content: space-around;
    padding-top: 20vh;
    padding-bottom: 20vh;
    /* align-items: center; */
}

.contact-us-form div {
    margin: 5vh 0;
    /* z-index: 1; */
}

.contact-us-form div input {
    outline: none;
    /* z-index: 1; */
}

.subject{
    width: 100%;
}

.content {
    height: 35vh;
    width:100%;
    outline: none;
}

.name,
.email {
    width: 50%;
}

.submit{
    border: 2px solid black;
    background-color: black;
    color: white;
}

.submit:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}


@media (max-width:800px) {
    .hidden-flower-button-container {
        display: flex;  
        justify-content: flex-end; 
        flex:1;
        align-items: center;
        
    }

    .hidden-flower-button {
        border: 1.5px solid black; 
        background-color: transparent;
        background-image: none;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding: 0;
        z-index: 100;
    }

    .hidden-flower-button:hover {
        cursor: pointer;
        background-color: white;
        /* border-radius: 12%; */
        justify-content: center;
        align-items: center;
    }

    .flower-button-svg {
        padding: 0;
        margin: 0;
        width:50px;
    }

    .span-links-container,
    .span-signin-container {
        display: none;
    }

    svg:hover path{
        transform-origin: 50% 50%;
        animation: spin 1s linear infinite;

    }

    @keyframes spin{

        0%{ transform: rotate(0deg);}  /* 0s */
        100%{transform: rotate(180deg);}   /*  */
        
    }

}