*{
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.block{
    display:block;
}

.grid {
    display: grid;
}


.only-flex-item{
    flex:1;
}

.center-center-items{
    justify-content: center;
    align-items: center;
}


.pos-relative{
    position: relative;
}

.flex-vertical{
    flex-direction:column;
}
.column{
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.invisible{
    visibility: hidden;
}

.flex-start-align-items{
    align-items: flex-start;
}

.stretch-align-items{
    align-items: stretch;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}



.hide-data{
    display:none;
}

.grow{
    flex:1;
}

.beauty-padding{
    padding: 0 4vw;
}

/*.beauty-padding{*/
/*    padding: 0 10px;*/
/*}*/

.hiddenAddPlotNotifications {
    visibility: hidden;
}

.avoidHeaderNav{
    margin-top: 5rem;
}

.stored-image{
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
}

.flex-wrap-wrap{
    flex-wrap: wrap;
}

.pos-absolute{
    position: absolute;
}
.scroll-y{
    overflow-y: scroll;
}

.hidden{
    display: none;
}